p {
    color: red;
}
body {
    margin: 0;
}
.sticky-div {
        
    background: linear-gradient(to bottom, #450084, #a86e6e);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
  
    z-index: -1;
}